@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

:root {
  --color-lilac: #c8a2c8;
}

body {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

.bg-lilac {
  background-color: var(--color-lilac);
}

.text-lilac {
  color: var(--color-lilac);
}

.sidebar {
  background-color: none;
  color: cream;
  width: 15rem; /* Adjust width as needed */
  padding: 1rem;
  position: fixed;
  top: 4rem; /* Below the Header */
  height: calc(100vh - 4rem); /* Full height minus Header height */
}

.sidenav {
  background-color: none;
  color: black;
  width: 15rem; /* Adjust width as needed */
  padding: 1rem;
  position: fixed;
  top: calc(4rem + 4rem); /* Below the Sidebar */
  height: calc(
    100vh - 4rem - 4rem
  ); /* Full height minus Header and Sidebar height */
}

body.dark .sidebar,
body.dark .sidenav {
  background-color: none;
  color: white;
}
